.autoencoderContent {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . .";
}

.header {
	margin: 0 auto;
	align: center;
}

.option {
	display: table-cell;
	padding-right: 1%;
}

.option-header {
	padding-bottom: 3px;
}

.output {
	margin:auto;
}

.interface{
	display: flex;
	justify-content:center;
	padding-bottom: 40px;
	position:relative;
}

.option#reset{
}

button#reset {
	height: 2.3em;
	position: absolute;
	bottom: 40px;
}

.container {
	width: 80%
}

#sampleSelect{
	width: 50%
}
